<h1>Stupid Coaching</h1>

<form action="/answer">
  <input type="text" name="question">
  <input type="submit" value="Ask your coach anything">
</form>


<!-- 

<form action="/restaurants" method="get">
  <input type="text" name="food_type" placeholder="What kind of food?">
  <input type="submit">
</form> 

-->